* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
.fundo{
   background: rgb(63, 63, 63);
}
.titulo{
    color: white;
    margin-left: 700px;
}
.video{
    margin-left: 500px;
}
.butao{
    margin-left: 750px;
    margin-bottom: -120px;
    width: 80px;
}    