@charset "UTF-8";
body{
    background-color: rgb(76, 96, 114);
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
}
h1{
   color: blue; 
}
h2{
  color: rgb(141, 47, 47);  
}
p{
    text-align: justify;
}